@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@font-face {
  font-family: 'Integral CF';
  src: url('../public/assets/fonts/integralcf.otf');
}
@font-face {
  font-family: 'Averta Demo PE Cutted Demo';
  src: url('../public/assets/fonts/AvertaDemoPECuttedDemo.ttf');
}
